:root{
    --darkyellow: gold;
    --liteblue: cornflowerblue;
}

body {
    background-color: bisque;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hidden{
    display: none;
}

#time {
    color:darkblue;
}

button {
    background-color:lightgoldenrodyellow;
    display:block;
    margin: 5px;
    border-color: var(--darkyellow);
    font-size: 14px;
    min-width: 200px;
    font-family:BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#start {
    background-color:var(--liteblue);
    border-color:var(--darkyellow);
    font-size: 20px;
}

p {
    padding-right: 10%;
}


h4 {
    text-align: center;
    border-style: double;
    border-width: 8px;
    width: 200px;
    border-color:var(--liteblue);
    margin-bottom: 4px;
}

.box {
   border-style: double; 
   border-width: 8px;
   border-color:var(--darkyellow);
   width: 200px;
   height: 200px;
   font-size: 18px;
   margin-bottom: 4px;
}